.h1-weather {
    align-items:center;
    font-size: 50px;
    text-align:center;
}

#forecast {
    display:flex;
    flex-wrap: wrap;
}
  
.forecast-card {
    margin:1em;
    border:1px solid blue;
    padding:1em;
}

#search-history-container {
    margin-bottom:30px;
}